<!DOCTYPE html>
<html>
<head>
	<meta charset="utf/8">
	<link rel="stylesheet" type="text/css" href="./hemsida.css">
	<title>LindholmsMaleri</title>
</head>
<body>
	<div id="container">
		<a href="index.html"><div id="header"></div></a>
		<div id="menu">
		<a href="tjanster.html"><img src="./images/tjanster.png"></a>
		<a href="partners.html"><img src="./images/partners.png"></a>
		<a href="kontakt.html"><img src="./images/kontakt.png"></a>
		<a href="bilder.html"><img src="./images/bilder.png"></a>
	</div>
	<%= yield %>
	</div>
</body>
</html>