<meta charset="utf-8">
<a href="http://www.vendelsoplat-bygg.se"><div id="vpb">
	</br></br></br></br></br></br>
		<center><p> Vendelsö plåt & bygg</p></center>
</div></a>

<a href="http://haningeterazzo.se">
<div id="ht">
	</br></br></br></br></br></br>
		<center><p>Haninge terazzogolv</p></center>
</div></a>