#container {
	position: relative;
	float: left;
	width: 800px;
	margin-left: 250px;
}


#header {
	position: relative;
	float: left;
	width: 800px;
	height: 350px;
	background-image: url("./images/header.png");
}

#menu {
	position: relative;
	float: left;
	width: 810px;
	height: 100px;
}

#vpb {
	float: left;
	background-image: url("./images/vpb2.png");
	height: 140px;
	width: 230px;

}

#ht {
	float: left;
	background-image: url("./images/ht.png");
	height: 140px;
	width: 230px;
	margin-left: 60px;
}

a {
	color: black;
}